body {
    font-family: 'Lato', sans-serif;
    background-color: #f8f9fa;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: #343a40;
    padding-top: 20px;
    color: white;
}

.sidebar .nav-link {
    color: #adb5bd;
    font-size: 1.1rem;
    padding: 10px 20px;
    transition: all 0.3s;
}

.sidebar .nav-link:hover, .sidebar .nav-link.active {
    color: #ffffff;
    background-color: #495057;
}

.sidebar .nav-link .icon {
    margin-right: 10px;
}

.sidebar-header {
    padding: 0 20px 20px 20px;
    border-bottom: 1px solid #495057;
    margin-bottom: 20px;
}

.sidebar-header h3 {
    margin: 0;
}

.main-content {
    margin-left: 250px;
    padding: 40px;
}

.view {
    display: none;
}

.view.active {
    display: block;
}

.card-header {
    font-size: 1.25rem;
    font-weight: 500;
}

.review {
    border-left: 3px solid #e9ecef;
    padding-left: 15px;
    margin-bottom: 15px;
}

#graphql-query {
    font-family: monospace;
    height: 200px;
}

#graphql-response {
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    padding: 15px;
    border-radius: 5px;
    min-height: 200px;
    white-space: pre-wrap;
    font-family: monospace;
}
